
#for{
    background-color:rgb(156, 114, 63);
    width: 500px;
    height: fit-content;
    width: fit-content;
}
#mum{
    border: 2px solid white;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    text-align: center;
    /* position: relative;
    left: 300px;
    top: 20px; */
}
#mark{
  animation: lawal 5s ease  infinite;
}
.werey{
    
        
        color: rgb(255, 174, 0);
        animation-name: example;
        animation-duration: 10s;
}
      
      @keyframes example{
        0%   {color:wheat;}
        100%  {color: yellow;}
        50%  {color:orange;}
        100% {color: lavender;}
      }


